/* ---------------------- CSS RESET --------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- CSS VARIABLES ------------------- */
:root {

  --clr-primary-cyan: hsl(179,47%,52%);
  --clr-primary-cyan-transparent: hsl(179,61%,44%);
  --clr-primary-bright-yellow: hsl(71,73%,54%);

  --clr-neutral-gray: hsl(204,43%,93%);
  --clr-neutral-grayish-blue: hsl(218,22%,48%);
  --clr-neutral-white: #fff;

  --fs-body: 16px;


  --fw-normal: 400;
  --fw-bold: 700;

  --ff-karla: 'Karla',sans-serif;
}

/* --------------------- UTILITIES -------------------- */

.clr-cyan {
  color: var(--clr-primary-cyan);
}

.clr-bright-yellow {
  color: var(--clr-primary-bright-yellow);
}

.clr-white {
  color: var(--clr-neutral-white);
}
.clr-gray {
  color: var(--clr-neutral-gray);
}

.clr-grayish-blue {
  color: var(--clr-neutral-grayish-blue);
}

.bg-cyan {
  background-color: var(--clr-primary-cyan);
}

.bg-cyan-transparent {
  background-color: var(--clr-primary-cyan-transparent);
}

.bg-bright-yellow {
  background-color: var(--clr-primary-bright-yellow);
}

.line-height {
  line-height: 1.2;
}

/* ------------------------ STYLE ----------------------- */

html {
  font-size: var(--fs-body);
  font-family: var(--ff-karla);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 4em;
  width: clamp(15rem, 80vw, 39.125rem);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.418);
}

.container__content {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  padding: 2.13em;
}

.container h1 {
  padding: 0;
  margin: 0;
  font-size: calc(var(--fs-body) + 8px);
}

.price {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.price__number {
  font-weight: var(--fw-bold);
  font-size: calc(var(--fs-body) + 15px);
}

#btn-sign {
  border-radius: 5px;
  font-weight: var(--fw-bold);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.246);
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.246);
  text-align: center;
  margin-top: auto;
  padding: 15px;
}

#btn-sign:hover {
  cursor: pointer;
  color: black;
  background-color: var(--clr-neutral-white);
}

.why-us {
  background-color: var(--clr-primary-cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* ----------------------- FOOTER ----------------------- */

.footer {
  padding: 2.13em;
  margin: 0 auto;
  text-align: center;
}

.attribution {
  font-size: calc(var(--fs-body) - 2px);
}

.attribution a {
  color: var(--clr-primary-bright-yellow);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--clr-primary-cyan);
  text-decoration: underline;
}

.attribution a:focus {
  text-decoration: underline;
  color: var(--clr-primary-cyan);
}

/* Media Queries */

@media screen and (min-width: 48em) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 1fr;
  }

  .container__content {
    gap: 1.25em;
  }

  .card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .sub {
    border-bottom-left-radius: 10px;
  }

  .why-us {
    border-bottom-left-radius: 0;
  }
}