/* ---------------------- CSS RESET --------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- CSS VARIABLES ------------------- */
:root {
   /** Primary Colors */
  --clr-primary-cyan: hsl(179,47%,52%); /* Background color of two sections */
  --clr-primary-cyan-transparent: hsl(179,61%,44%); /* Background color of two sections */
  --clr-primary-bright-yellow: hsl(71,73%,54%);
  
  /** Neutral Colors */
  --clr-neutral-gray: hsl(204,43%,93%); /* Primary text color  */
  --clr-neutral-grayish-blue: hsl(218,22%,48%); /* Grayish and transparent text color */
  
  /* * Typography Body Copy */
  --fs-body: 16px; /* Main body text size 🦖 */

  /* ** Text color  */
  --font-color-white: #fff; 

  /* ** Font Weights */
  --fw-normal: 400;
  --fw-bold: 700;

  /* ** Font Family  */
  --ff-karla: 'Karla',sans-serif;
}

/* ---------------------- TODO LIST --------------------- */

/* ! fix the padding and margins of the layout 🔥
  TODO: 1️⃣ Change the value of units to something not absolute 
  TODO: 2️⃣ See for HTML Accessibility Issues 
  TODO: 3️⃣ Check others how they did it

/* ----------------------- STYLING ---------------------- */

html,body {
  font-family: var(--ff-karla);
  font-size: var(--fs-body);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-grayish-blue);
}

.main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 22rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --------------------- FONT COLORS -------------------- */
.font-clr-cyan {
  color: var(--clr-primary-cyan);
}

.font-clr-gray {
  color: var(--clr-neutral-gray);
}

.font-clr-grayish-blue {
  color: var(--clr-neutral-grayish-blue);
}

.font-clr-bright-yellow {
  color: var(--clr-primary-bright-yellow);
}

.font-clr-white {
  color: var(--clr-neutral-gray);
}

/* ------------------ BACKGROUND COLORS ----------------- */
.bg-cyan {
  background-color: var(--clr-primary-cyan);
}
.bg-cyan-transparent {
  background-color: var(--clr-primary-cyan-transparent);
}

.community-sec {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--font-color-white);
}

.section__content {
  margin: 1rem;
  /* width: 18.75rem; */
}

.center-items {
  display: flex;
  align-items: center;
}

.scale-font {
  font-size: calc(var(--fs-body) + 12px);
  font-weight: var(--fw-bold);
}

.margin-right {
  margin-right: 0.75rem;
}

a {
  text-decoration: none;
}

.btn {
  width: 100%;
  border: none;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
  background-color: var(--clr-primary-bright-yellow);
}

.btn:hover {
  cursor: pointer;
}

.btn__register {
  font-size: calc(var(--fs-body) + 1.85px);
  width: 100%;
  color: var(--clr-neutral-grayish-blue);
  background-color: var(--clr-primary-bright-yellow);
}

.why-section {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width:1440px){
  .main {
    grid-template-columns: 286px 286px;
    grid-template-rows: 240px 240px;
  }
  .community-sec {
    grid-column: span 2;
  }

  .subscription-sec {
    border-bottom-left-radius: 10px;
  }

  .why-section {
    border-bottom-left-radius: 0;
  }
}


/* ----------------------- FOOTER ----------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.attribution {
  color: var(--clr-neutral-gray);
}

.attribution a {
  text-decoration: none;
  color: #990099;
}

.attribution a:hover {
  text-decoration: underline;
}

.attribution a:active {
  color: var(--clr-neutral-grayish-blue);
}